    <div class="content_image">
       <%= link_to image_tag(review.image, class: "item-img"), review_path(review.id), method: :get %>
    </div>
    <div class="content_header">
     <span>評価：</span>
       <div id="star-rate<%= review.id%>"></div>    
          <script>
            $('#star-rate<%= review.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              starHalf  : '<%= asset_path('star-half.png') %>',
              half      : true,
              readOnly: true,
              score: <%= review.rating %>,
            });
            $('#star-rate<%= review.id%>').css('padding', '10px');
          </script>
        <span>ジャンル：</span>
        <div class="content_genre">
          <%= review.genre.name %>
        </div>
        <span>タイトル：</span>
        <div class="content_title">
          <%= review.title %>
        </div>
    </div>
    <span>レビュー：</span>
    <div class="content_text">
       <%= review.text %>
    </div>

