<div class="contents row">
    <div class="form-wrap">
         <div class="title-frame">投 稿 編 集</div>
          <%= form_with(model: @review, local: true) do |f| %>
          <%= render 'reviews/error_messages', model: @review %>
              <div class="form-group">
                <div class="form-text">画  像</div>
                  <div class="form-text-wrap">                      
                    <%= f.file_field :image, class: "form-image-box" %>
                  </div>
              </div>
              <div class="form-group">
                <div class="form-text">タイトル</div>
                  <div class="form-text-wrap">
                    <%= f.text_field :title, class: "form-box" %>
                  </div>
              </div>
              <div class="form-group">
                <div class="form-text">ジャンル</div>
                   <div class="form-text-wrap">
                     <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class: "form-box"}) %>
                   </div>
               </div>
               <div class="form-group">
                 <div class="form-text">投稿文</div>
                   <div class="form-text-wrap">
                     <%= f.text_area :text, class: "form-box", id: "input-text",rows: 4 %>
                   </div>
               </div>
              <%# <p class="text-counter" id="counter">0文字</p> %>
              <div class="form-group" id="star">
                  <div class="form-star-wrap">
                    <%= f.label :rating,  "星評価 (※必須)" ,id: "e", class: "form-box"%> 
                    <%= f.hidden_field :rating, id: :review_star %>
                      <script>
                        $('#star').raty({
                          size     : 36,
                          starOff:  '<%= asset_path('star-off.png') %>',
                          starOn :  '<%= asset_path('star-on.png') %>',
                          starHalf: '<%= asset_path('star-half.png') %>',
                          scoreName: 'review[rating]',
                          half: true,
                        });
                      </script> 
                  </div>
              </div> 
              <div class="submit">
                 <%= f.submit "Review!!", class:"submit-btn" %>
              </div>
        <% end %>
    </div>
</div>
