<div class="contents row">
  <div class="content_post">
      <%= render 'review', review: @review %>
    <div class="more">
      <div class="more_list">
      <% if user_signed_in? && current_user.id == @review.user.id %>
        <%= link_to 'Edit', edit_review_path(@review.id), method: :get %>
        <%= link_to 'Deleate', review_path(@review.id), method: :delete %>
      <% end %>
      </div>
    </div>
    </div>
    <div class="container">
    <% if current_user %>
      <%= form_with(model: [@review, @comment], local:true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※ コメントの投稿には新規登録/ログインが必要です</p></strong>
    <% end %>
    <div class="comments">
      <h4>コメント一覧</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div class="comment_subject">
            <div class="comment_name">
            <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %></strong>
            </div>
            <div class="comment_text">
              <%= comment.text %>
            </div>
            <div class="action">
              <% if current_user.id == comment.user_id %>
                <%= link_to '削 除', review_comment_path(@review, comment), method: :delete, class:"submit-btn" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

